mat-card {
    margin: 40px;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #fff;
}

.navigation {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: end;
    top: 0;
    left: 0;
    z-index: 99;
    padding: 20px 0;
    background: #fff;
}

.pokemon-list-container {
    margin-top: 80px;
}

.button-container {
    margin-right: 20px;
}

button {
    margin: 0 20px;
}